<div id="searching-tabs">
    <ul class="resp-tabs-list searching-tabs">
        <li>PHP</li>
        <li>Java</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>curl</li>
    </ul>
    <div class="resp-tabs-container searching-tabs">
        <div>
            <script src="https://gist.github.com/caseysoftware/ea40d23cc59243fad6aa.js"></script>
        </div>
        <div>
            <script src="https://gist.github.com/caseysoftware/fc17640b2e2d33f0ea59.js"></script>
        </div>
        <div>
            <script src="https://gist.github.com/caseysoftware/5fccbae4f8252905ae40.js"></script>
        </div>
        <div>
            <script src="https://gist.github.com/caseysoftware/71b5f9214ffab5e89818.js"></script>
        </div>
        <div>
            <script src="https://gist.github.com/caseysoftware/0c7a53e2b2c128a15699.js"></script>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#searching-tabs').easyResponsiveTabs({
            tabidentify: 'searching-tabs', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
    });
</script>