
<div id="setup-tabs">
    <ul class="resp-tabs-list setup-tabs">
        <li>PHP</li>
        <li>Java</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>curl</li>
    </ul>
    <div class="resp-tabs-container setup-tabs">
        <div>
            <p>In PHP, you simply install the Clarify SDK using Composer:</p>
            <script src="https://gist.github.com/caseysoftware/d76fe9c40fe8698b5409.js"></script>
            <p>And then simply run:</p>
            <pre crayon="false">composer install</pre>
        </div>
        <div>
            <p>In Java, you simply install the Clarify SDK via your Maven pom.xml:</p>
            <script src="https://gist.github.com/caseysoftware/8d6c09439935c667abec.js"></script>
        </div>
        <div>
            <p>In Python, you simply install the Clarify module via pip:</p>
            <script src="https://gist.github.com/caseysoftware/fff90c0ec4ab9c1da2dc.js"></script>
        </div>
        <div>
            <p>In Ruby, you simply install the Clarify gem and set your API key as an environment variable:</p>
            <script src="https://gist.github.com/caseysoftware/8c05de89ea29d1e12b17.js"></script>
        </div>
        <div>
            <p>Although we don&#8217;t have a curl library, the command-line JSON parser &#8220;jq&#8221; is super helpful. Download it and install it to get started: <a href="http://stedolan.github.io/jq/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://stedolan.github.io/jq/', 'http://stedolan.github.io/jq/']);" >http://stedolan.github.io/jq/</a></p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#setup-tabs').easyResponsiveTabs({
            tabidentify: 'setup-tabs', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
    });
</script>