<div id="insight-links-tabs">
    <ul class="resp-tabs-list insight-links-tabs">
        <li>curl</li>
    </ul>
    <div class="resp-tabs-container insight-links-tabs">
        {% include /source/curl/insight-links.html %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#insight-links-tabs').easyResponsiveTabs({
            tabidentify: 'insight-links-tabs', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
    });
</script>