{% assign tabs="media-searching" %}

<a name="{{ tabs }}"></a>

<h2>Searching Audio</h2>

{% include /messages/delay.html %}

<p>To search, you use the same object you created before and just search using your keywords. If you uploaded the “Wizard of Oz” audio clip, you can search for “dorothy”. Then you can process and interact the results however you wish.</p>

<p>The code below simply shows the resulting bundle id, bundle name, and the start/end offsets for each occurrence of the search terms:</p>

{% include /structural/tabs.html %}

<p>And here are the results using the Wizard of Oz clip we loaded:</p>

{% highlight bash %}
/v1/audio/8ee0e56929c248ba895d19ead47c9993
Dorothy and the Wizard of Oz
2.04 -- 2.53
15.44 -- 16.09
172.44 -- 172.79
192.05 -- 192.45
224.76 -- 225.07
235.43 -- 236.02
271.52 -- 271.89
329.1 -- 329.56
390.09 -- 390.46
406.8 -- 407.17
480.47 -- 480.87
512.95 -- 513.25
{% endhighlight %}

{% include /messages/machine-learning.html %}