{% assign tabs="media-loading" %}

<a name="{{ tabs }}"></a>

<h3>Loading Audio</h3>
<p>First include the SDK and create your object using your API Key. Once you&#8217;ve created the object, you can use the object to load each of your audio files as shown:</p>

{% include /structural/tabs.html %}

<p>Naming the bundle and providing a notify_url are both optional. We have a number of audio and video files available for processing on <a href="http://clarify.io/media">our Media Page</a>.</p>

<div class="notice">
    <strong>Note:</strong> You don't have to download these files. Instead you can pass us these urls via the create/POST method shown above.
</div>