<h3>Loading Audio</h3>
<p>First include the SDK and create your object using your API Key. Once you&#8217;ve created the object, you can use the object to load each of your audio files as shown:</p>

<div id="media-loading-tabs">
    <ul class="resp-tabs-list media-loading-tabs">
        {% for language in page.languages %}
        <li>{{ language }}</li>
        {% endfor %}
    </ul>
    <div class="resp-tabs-container media-loading-tabs">
        {% for language in page.languages %}
        {% include /source/{{language}}/media-loading.html %}
        {% endfor %}
    </div>
</div>

<p>Naming the bundle and providing a notify_url are both optional. We have a number of audio and video files available for processing on <a href="http://clarify.io/media">our Media Page</a>.</p>
<p><em><strong>Hint:</strong> You don&#8217;t have to download these files. Instead you can pass us these urls via the create method shown above.</em></p>

<script>
    $(document).ready(function() {
        $('#media-loading-tabs').easyResponsiveTabs({
            tabidentify: 'media-loading-tabs', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
    });
</script>