<h3>Putting it All Together</h3>
<p>From here, we can visualize our search results with our included <a href="https://github.com/Clarify/clarify-audio-player" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://github.com/Clarify/clarify-audio-player', 'audio player']);" >audio player</a>. The player should work with minimal additional configuration, but the bulk of the logic is already above in the results.</p>

<div id="player-tabs">
    <ul class="resp-tabs-list player-tabs">
        <li>PHP</li>
        <li>Python</li>
    </ul>
    <div class="resp-tabs-container player-tabs">
        <div>
            <pre>
<code class="php">
&lt;?php

require '../vendor/autoload.php';

$bundle = new Clarify\Bundle($apikey);
$items = $bundle->search($terms);

    $search_terms = json_encode($items['search_terms']);
    $item_results = json_encode($items['item_results']);

    $audiokey = $items['_links']['items'][0]['href'];
    $tracks = $bundle->tracks($audiokey)['tracks'];
    $mediaUrl = $tracks[0]['media_url'];
</code>
            </pre>
        </div>
        <div>
            <pre>
<code class="python">
from clarify_python import clarify
import json

clarify.set_key('my api key')

result = clarify.search(query='dorothy')
search_terms = json.dumps(result['search_terms'])
item_results = json.dumps(result['item_results'])

bundleref = result['_links']['items'][0]['href']
bundle = clarify.get_bundle(bundleref)
tracksref = bundle['_links']['o3v:tracks']['href']
tracks = clarify.get_track_list(tracksref)['tracks']
mediaURL = tracks[0]['media_url']
</code>
            </pre>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#player-tabs').easyResponsiveTabs({
            tabidentify: 'player-tabs', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
    });
</script>