{% assign tabs="multi-language-loading" %}

<a name="{{ tabs }}"></a>

<h3>Loading Audio by Language</h3>

<p>Our system automatically detects the language of your media file so this process is no different than adding a English language media. You can do this with a single command:</p>

{% include /structural/tabs.html %}

<p>Naming the bundle and providing a notify_url are both optional. We have a number of audio and video files available for processing on <a href="http://clarify.io/media">our Media Page</a>.</p>

<div class="notice">
    <strong>Note:</strong> You don't have to download these files. Instead you can pass us these urls via the create/POST method shown above.
</div>

<p>After creating a bundle, you'll receive a response which looks something like this:</p>

{% include /source/json/bundle_callback.md %}