{% assign tabs="request-insights" %}

<a name="{{ tabs }}"></a>

<h3>Getting your Language Information</h3>

<p>Our language detection is automatic and gets requested like other Insights such as <a href="/quickstarts/insights-keywords.html">Keywords</a>. This can be accomplished with a single API call:</p>

{% include /structural/tabs.html %}

<p>That will return with the list of available insights, including Classification:</p>

{% include /source/json/insights_r4.md %}

<p>The most important part of this payload is the <code>href</code> of the <code>insight:classification</code> key. By retrieving the contents of that URI, Clarify will give you the dominant language detected in the audio track(s).</p>

{% include /source/json/insight-data-classification.md %}

<p>From there, you can use this information for tagging, organization, or to do informed searches as in the next section.</p>