<a name="process-topics"></a>

<div id="process-topics-tabs">
    <ul class="resp-tabs-list process-topics-tabs">
        {% for language in page.languages %}
        <li>{{ language }}</li>
        {% endfor %}
    </ul>
    <div class="resp-tabs-container process-topics-tabs">
        {% for language in page.languages %}
        <div>{% include /source/curl/process-topics.md %}</div>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#process-topics-tabs').easyResponsiveTabs({
            tabidentify: 'process-topics-tabs'
        });
    });
</script>