<a name="request-topics"></a>

<div id="get-insight-tabs">
    <ul class="resp-tabs-list get-insight-tabs">
        <li>curl</li>
    </ul>
    <div class="resp-tabs-container get-insight-tabs">
        <div>
            <pre>
                {% include /source/curl/request-topics.md %}
            </pre>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#get-insight-tabs').easyResponsiveTabs({
            tabidentify: 'get-insight-tabs'
        });
    });
</script>