
<h3>Configuring Your Environment</h3>
<p>While you can use any programming language you choose, we provide a few <a href="https://github.com/Clarify" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://github.com/Clarify', 'helper libraries']);" >helper libraries</a> to get you started. In most cases, you can use your favorite package manager:</p>

<div id="setup-tabs">
    <ul class="resp-tabs-list setup-tabs">
        {% for language in page.languages %}
            <li>{{ language }}</li>
        {% endfor %}
    </ul>
    <div class="resp-tabs-container setup-tabs">
        {% for language in page.languages %}
            {% include /source/{{language}}/setup.html %}
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#setup-tabs').easyResponsiveTabs({
            tabidentify: 'setup-tabs', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
    });
</script>