
</div>
</div>

<a href="https://github.com/Clarify/clarify.github.io"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<footer>
    <div id='mainMainRow5' class='dataTypeMainRow mainMainRow5 ' data-type='MainRow'>
        <div id='mainMainContent6' class='dataTypeMainContent mainMainContent6' data-type='MainContent'>
            <div class='mainShape43' ></div>
            <div class='footer-column fc-1'>
                <h2>Company</h2>
                <p>
                    <a href="http://clarify.io/">Home</a><br>
                    <a href="http://clarify.io/about-us">About</a><br>
                    <a target="_blank" href="http://clarify.io/jobs">Jobs</a><br>
                    <a href="http://clarify.io/events">Events</a><br>
                    <a href="http://clarify.io/news">In the News</a><br>
                    <a target="_blank" href="http://clarify.totemapp.com/">Press Kit</a><br>
                    <a href="http://clarify.io/contact-us">Contact us</a>
                </p>
            </div>
            <div class='footer-column fc-2'>
                <h2>Developers</h2>
                <p>
                    <a href="http://docs.clarify.io">Documentation</a><br>
                    <a href="http://clarify.io/blog/">Tech Blog</a><br>
                    <a href="http://clarify.io/pricing">Pricing</a><br>
                    <a href="https://developer.clarify.io/accounts/signup/">Sign Up</a><br>
                    <a href="http://clarify.io/try-it-now">Try it Now</a><br>
                </p>
            </div>
            <div class='footer-column fc-3'>
                <h2>Visit Us</h2>
                Clarify, Inc<br>501 Pedernales Street<br>Building 1B<br>Austin, TX 78702
            </div>
            <div class='footer-column fc-4'>
                <h2>Follow Us</h2>
                <a href="https://angel.co/clarify-inc">Angelist</a><br>
                <a href="https://www.linkedin.com/company/clarify-inc">Linked In</a><br>
                <a target="_blank" href="https://github.com/Clarify">Github</a><br>
                <a href="https://twitter.com/ClarifyIO">Twitter</a><br>
                <a href="https://www.facebook.com/clarifyinc">Facebook</a><br>
            </div>
            <div class="terms-of-service center">
                <span>
                    &copy; 2015 Clarify, Inc. &nbsp;| &nbsp;<a href="http://clarify.io/terms-of-service">Terms of Service&nbsp;</a>
                    <a href="http://status.clarify.io/"><img src="/assets/img/gauge-colored.png" style="vertical-align: middle" />API Status</a>
                </span>
            </div>
        </div>
    </div>
</footer>
{% include ga.html %}

</body>
</html>