<div class="recent_list">
    <aside id="nav_menu-3" class="widget widget_nav_menu">
        <h3 class="widget-title">Documentation</h3>
        <div class="menu-documentation-sidebar-container">
            <ul id="menu-documentation-sidebar" class="menu">
                <li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://clarify.io/docs/api/">API Endpoints</a></li>
                <li id="menu-item-634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a href="http://clarify.io/docs/faq/">Frequently Asked Questions</a></li>
                <li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="http://clarify.io/docs/libraries/">Libraries</a></li>
                <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-249 current_page_item menu-item-has-children menu-item-298"><a href="http://clarify.io/docs/quickstarts/">Quickstarts</a>
                    <ul class="sub-menu">
                        <li id="menu-item-594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-594"><a href="http://clarify.io/docs/quickstarts/media-search/">Media Search</a></li>
                        <li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="http://clarify.io/docs/quickstarts/multi-language-support/">Multi-Language Support</a></li>
                        <li id="menu-item-607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-607"><a href="http://clarify.io/docs/quickstarts/human-transcripts/">Human Transcripts</a></li>
                        <li id="menu-item-628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-628"><a href="http://clarify.io/docs/quickstarts/keyword-insight/">Keywords Insight</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <aside id="recent-posts-5" class="widget widget_recent_entries">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li>
                <a href="http://clarify.io/blog/tracking-my-boxes-with-twilio-and-clarify/">Tracking my Boxes with Twilio and Clarify</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/howto-be-successful-at-a-hackathon/">Howto: Be Successful at a Hackathon</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/you-get-a-keyword-and-you-get-a-keyword/">You get a Keyword! And you get a Keyword!</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/lessons-on-deep-learning/">Lessons on Deep Learning</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/announcing-the-transcription-api/">Announcing The Transcription API</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/discovery-and-descriptions-beyond-text/">Discovery and Descriptions Beyond Text</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/women-dont-like-numbers/">Women Don&#8217;t Like Numbers</a>
            </li>
            <li>
                <a href="http://clarify.io/blog/metadata-is-the-new-king-of-content/">Metadata is the New King of Content</a>
            </li>
        </ul>
    </aside>
</div>