<div class="recent_list">
    <aside class="widget widget_nav_menu">
        <h3 class="widget-title">Documentation</h3>
        <div class="menu-documentation-sidebar-container">
            <ul id="menu-documentation-sidebar" class="menu">
                <li class="menu-item"><a href="/overview/">API Overview</a></li>
                <li class="menu-item"><a href="/api/">API Endpoints</a></li>
                <li class="menu-item"><a href="/libraries/">Libraries/SDKs</a></li>
                <li class="menu-item"><a href="/media/">Sample Media</a></li>
                <li class="menu-item"><a href="/faq/">Frequently Asked Questions</a></li>
                <li class="menu-item"><a href="/errors/">Error Codes</a></li>
                <li class="menu-item"><a href="#">Insights</a>
                    <ul class="sub-menu">
                        {% assign items = site.insights | sort: 'order' %}
                        {% for item in items %}
                        <li class="menu-item"><a href="{{ item.url }}">{{ item.navtitle }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item"><a href="/quickstarts/">Quickstarts</a>
                    <ul class="sub-menu">
                        {% assign items = site.quickstarts | sort: 'order' %}
                        {% for item in items %}
                        <li class="menu-item"><a href="{{ item.url }}">{{ item.navtitle }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</div>
