<div class="recent_list">
    <aside class="widget widget_nav_menu">
        <h3 class="widget-title">Documentation</h3>
        <div class="menu-documentation-sidebar-container">
            <ul id="menu-documentation-sidebar" class="menu">
                <li class="menu-item"><a href="/api/">API Endpoints</a></li>
                <li class="menu-item"><a href="/faq/">Frequently Asked Questions</a></li>
                <li class="menu-item"><a href="/libraries/">Libraries</a></li>
                <li class="menu-item"><a href="/quickstarts/">Quickstarts</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/quickstarts/media-search.html">Media Search</a></li>
                        <li class="menu-item"><a href="/quickstarts/multi-language-support.html">Multi-Language Support</a></li>
                        <li class="menu-item"><a href="/quickstarts/human-transcripts.html">Human Transcripts</a></li>
                        <li class="menu-item"><a href="/quickstarts/keyword-insight.html">Keywords Insight</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <aside class="widget widget_recent_entries">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li><a href="http://clarify.io/blog/tracking-my-boxes-with-twilio-and-clarify/">Tracking my Boxes with Twilio and Clarify</a></li>
            <li><a href="http://clarify.io/blog/howto-be-successful-at-a-hackathon/">Howto: Be Successful at a Hackathon</a></li>
            <li><a href="http://clarify.io/blog/you-get-a-keyword-and-you-get-a-keyword/">You get a Keyword! And you get a Keyword!</a></li>
            <li><a href="http://clarify.io/blog/lessons-on-deep-learning/">Lessons on Deep Learning</a></li>
            <li><a href="http://clarify.io/blog/announcing-the-transcription-api/">Announcing The Transcription API</a></li>
            <li><a href="http://clarify.io/blog/discovery-and-descriptions-beyond-text/">Discovery and Descriptions Beyond Text</a></li>
            <li><a href="http://clarify.io/blog/women-dont-like-numbers/">Women Don&#8217;t Like Numbers</a></li>
            <li><a href="http://clarify.io/blog/metadata-is-the-new-king-of-content/">Metadata is the New King of Content</a></li>
        </ul>
    </aside>
</div>