---
layout: quickstart
title: Clarify - Multi-language Support Quickstart

languages:
- curl
---

<div id="primary" class="content-area">
    <div class="content article">
        <article class="page type-page status-publish hentry">
            <div class="entry-content">
                <h3>Getting Started with Multi-Language Media Search</h3>
                <p>This quickstart demonstrates a simple way to get started using the Clarify API. Following these steps, it should take you no more than 5-10 minutes to support search in a variety of languages.</p>

                {% include /sections/_contact-support.html %}

                {% include /sections/setup.html %}

                {% include /sections/multi-language-loading.html %}

                {% include /sections/multi-language-searching.html %}

                {% include /sections/media-playing.html %}
            </div>
        </article>
    </div>
</div>