<pre>
<code class="json">
{
    "id": "abcde12345",
    "_class": "Ref",
    "_links": {
        "clarify:insights": {
            "href": "/v1/bundles/abcde12345/insights"
        },
        "clarify:metadata": {
            "href": "/v1/bundles/abcde12345/metadata"
        },
        "clarify:tracks": {
            "href": "/v1/bundles/abcde12345/tracks"
        },
        "curies": [
            {
                "href": "/docs/rels/{rel}",
                "name": "clarify",
                "templated": true
            }
        ],
        "self": {
            "href": "/v1/bundles/abcde12345"
        }
    }
}
</code>
</pre>