[data-parallax] {
    display: none;
}

.show-parallax {
    display: block;
}

.PageTitle {
    font-family: Oswald;
    font-weight: 300;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 3px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    direction: ltr;
    padding-top: 60px;
}

.container_left a, .container_right a, .Link {
    font-family: Open Sans;
    font-weight: 400;
    color: #1db2c6;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    direction: ltr;
    line-height: 1.3;
}

.quote {
    font-family: Droid Serif;
    font-weight: 400;
    color: #323232;
    font-size: 18px;
    line-height: 22px;
    font-style: Italic;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    direction: ltr;
}

.generalSitebackgroundDiv {
    position: absolute;
    z-index: -1;
    min-width: 960px;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    background-attachment: scroll;
}

.mainMainPanel0 {
    position: relative;
    overflow: hidden;
    min-width: 960px;
    min-height: 620px;
    top: 0;
    z-index: 10;
    left: 0;
    border-color: #000;
    border-style: solid;
}

.mainMainRow1 {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    position: relative;
}

.mainMainContent2 {
    top: 0;
    left: 0;
    width: 960px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 12;
    border-width: 0;
    border-style: solid;
    position: relative;
    display: block;
}

.mainMainRow3 {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    position: relative;
}

.mainMainContent4 {
    top: 0;
    left: 0;
    width: 960px;
    min-height: 382px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
    border-width: 0;
    border-style: solid;
    position: relative;
    display: block;
}

.mainMainRow5 {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    position: relative;
    overflow: hidden;
}

.mainMainContent6 {
    top: 0;
    left: 0;
    width: 960px;
    min-height: 375px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 14;
    border-width: 0;
    border-style: solid;
    position: relative;
    display: block;
}

.mainPlaceholder7 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    background-color: transparent;
    position: relative;
}

.mainShape24 {
    margin-right: auto;
    margin-left: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1!important;
    top: 0;
    width: 960px;
    margin-left: -480px!ie;
    left: 50%!ie;
    height: 100%;
    z-index: -1;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainShape43 {
    left: -444px;
    top: 0;
    width: 1899px;
    height: 100%;
    z-index: 0;
    border-width: 0;
    border-color: #000;
    border-style: none;
    background-color: #323232;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainText49_ContentDiv .ospfxw83771e803f2beede68c4ddefd38437c6ossfx {
    font-size: 13px;
}

.ospfxw22f7d382777aec9c73e6f1ec9b4a385aossfx {
    font-size: 13px;
}

.mainMenu54 {
    left: 387px;
    top: 10px;
    width: 760px;
    height: 50px;
    padding: 0;
    direction: ltr;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    z-index: 900097!important;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    display: block;
}

.menu-item {
    top: 0;
    left: 0;
    height: 20px;
    background-repeat: no-repeat!important;
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-left: 12px;
    margin-bottom: 0;
    margin-right: 12px;
    border-width: 0;
    border-color: #ccc;
    border-style: Solid;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 15px;
    font-weight: normal;
    font-family: Oswald;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    background-image: none;
    margin: 0;
}

.menu-item:hover {
    top: 0;
    left: 0;
    Height: 20px;
    background-repeat: no-repeat!important;
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 0;
    border-width: 0;
    border-color: #fff;
    border-style: Solid;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 15px;
    font-weight: normal;
    font-family: Oswald;
    text-indent:;
}

.menu-item:hover a {
    color: #a9cfd6;
    text-decoration: none;
}

.ShoppingCartMenuItem {
    z-index: 99999;
    position: absolute!important;
    cursor: pointer;
}

.ShoppingCartMenuItemLTR {
    z-index: 99999;
    position: absolute!important;
    cursor: pointer;
    right: 0;
}

.mainImage55 {
    border-width: 0;
    border-color: #000;
    border-style: solid;
    z-index: 900096;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    display: block;
}

.mainImage55>img {
    width: 100px!important;
    height: 40px!important;
    left: 0!important;
    top: 0!important;
}

.mainShape60 {
    left: -174px;
    top: -1px;
    width: 1619px;
    height: 71px;
    z-index: 45;
    border-width: 0;
    border-color: #000;
    border-style: none;
    background-color: #549fad;
    opacity: .9;
    filter: alpha(opacity=90);
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    /*position: fixed;*/
    overflow: hidden;
    display: block;
}

.terms-of-service {
    top: 300px;
    position: relative;
}

.mainText61_ContentDiv .ospfxwd6083f1bba7c1aa47dc63668f34ad4c3ossfx {
    color: #8c8c8c;
}

.mainImage65 {
    left: 776px;
    top: 111px;
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    z-index: 2;
    background-repeat: no-repeat;
    border-radius: 22px;
    -moz-border-radius: 22px;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainImage65 img {
    border: 0;
    border-radius: 22px;
    -moz-border-radius: 22px;
}

.mainImage65>img {
    width: 40px!important;
    height: 40px!important;
    left: 0!important;
    top: 0!important;
}

.mainImage66 {
    left: 826px;
    top: 110px;
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    z-index: 2;
    background-repeat: no-repeat;
    border-radius: 22px;
    -moz-border-radius: 22px;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainImage66 img {
    border: 0;
    border-radius: 22px;
    -moz-border-radius: 22px;
}

.mainImage66>img {
    width: 40px!important;
    height: 40px!important;
    left: 0!important;
    top: 0!important;
}

.mainImage67 {
    left: 882px;
    top: 111px;
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    z-index: 2;
    background-repeat: no-repeat;
    border-radius: 22px;
    -moz-border-radius: 22px;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainImage67 img {
    border: 0;
    border-radius: 22px;
    -moz-border-radius: 22px;
}

.mainImage67>img {
    width: 40px!important;
    height: 40px!important;
    left: 0!important;
    top: 0!important;
}

.mainImage69 {
    left: 670px;
    top: 111px;
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    z-index: 2;
    background-repeat: no-repeat;
    border-radius: 22px;
    -moz-border-radius: 22px;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainImage69 img {
    border: 0;
    border-radius: 22px;
    -moz-border-radius: 22px;
}
.mainImage69>img {
    width: 40px!important;
    height: 40px!important;
    left: 0!important;
    top: 0!important;
}

.mainImage70 {
    left: 723px;
    top: 111px;
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    z-index: 2;
    background-repeat: no-repeat;
    border-radius: 22px;
    -moz-border-radius: 22px;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.mainImage70 img {
    border: 0;
    border-radius: 22px;
    -moz-border-radius: 22px;
}

.mainImage70>img {
    width: 40px!important;
    height: 40px!important;
    left: 0!important;
    top: 0!important;
}

@media screen and (max-width:960px) {
    html {
        zoom: 1;
        -ms-zoom: 1;
        -webkit-zoom: 1;
        -moz-transform: scale(1,1);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:950px) {
    html {
        zoom: .99;
        -ms-zoom: .99;
        -webkit-zoom: .99;
        -moz-transform: scale(.99,.99);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:940px) {
    html {
        zoom: .979;
        -ms-zoom: .979;
        -webkit-zoom: .979;
        -moz-transform: scale(.979,.979);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:930px) {
    html {
        zoom: .969;
        -ms-zoom: .969;
        -webkit-zoom: .969;
        -moz-transform: scale(.969,.969);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:920px) {
    html {
        zoom: .958;
        -ms-zoom: .958;
        -webkit-zoom: .958;
        -moz-transform: scale(.958,.958);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:910px) {
    html {
        zoom: .948;
        -ms-zoom: .948;
        -webkit-zoom: .948;
        -moz-transform: scale(.948,.948);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:900px) {
    html {
        zoom: .938;
        -ms-zoom: .938;
        -webkit-zoom: .938;
        -moz-transform: scale(.938,.938);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:890px) {
    html {
        zoom: .927;
        -ms-zoom: .927;
        -webkit-zoom: .927;
        -moz-transform: scale(.927,.927);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:880px) {
    html {
        zoom: .917;
        -ms-zoom: .917;
        -webkit-zoom: .917;
        -moz-transform: scale(.917,.917);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:870px) {
    html {
        zoom: .906;
        -ms-zoom: .906;
        -webkit-zoom: .906;
        -moz-transform: scale(.906,.906);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:860px) {
    html {
        zoom: .896;
        -ms-zoom: .896;
        -webkit-zoom: .896;
        -moz-transform: scale(.896,.896);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:850px) {
    html {
        zoom: .885;
        -ms-zoom: .885;
        -webkit-zoom: .885;
        -moz-transform: scale(.885,.885);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:840px) {
    html {
        zoom: .875;
        -ms-zoom: .875;
        -webkit-zoom: .875;
        -moz-transform: scale(.875,.875);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:830px) {
    html {
        zoom: .865;
        -ms-zoom: .865;
        -webkit-zoom: .865;
        -moz-transform: scale(.865,.865);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:820px) {
    html {
        zoom: .854;
        -ms-zoom: .854;
        -webkit-zoom: .854;
        -moz-transform: scale(.854,.854);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:810px) {
    html {
        zoom: .844;
        -ms-zoom: .844;
        -webkit-zoom: .844;
        -moz-transform: scale(.844,.844);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:800px) {
    html {
        zoom: .833;
        -ms-zoom: .833;
        -webkit-zoom: .833;
        -moz-transform: scale(.833,.833);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:790px) {
    html {
        zoom: .823;
        -ms-zoom: .823;
        -webkit-zoom: .823;
        -moz-transform: scale(.823,.823);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:780px) {
    html {
        zoom: .813;
        -ms-zoom: .813;
        -webkit-zoom: .813;
        -moz-transform: scale(.813,.813);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:770px) {
    html {
        zoom: .802;
        -ms-zoom: .802;
        -webkit-zoom: .802;
        -moz-transform: scale(.802,.802);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:760px) {
    html {
        zoom: .792;
        -ms-zoom: .792;
        -webkit-zoom: .792;
        -moz-transform: scale(.792,.792);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:750px) {
    html {
        zoom: .781;
        -ms-zoom: .781;
        -webkit-zoom: .781;
        -moz-transform: scale(.781,.781);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:740px) {
    html {
        zoom: .771;
        -ms-zoom: .771;
        -webkit-zoom: .771;
        -moz-transform: scale(.771,.771);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:730px) {
    html {
        zoom: .76;
        -ms-zoom: .76;
        -webkit-zoom: .76;
        -moz-transform: scale(.76,.76);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:720px) {
    html {
        zoom: .75;
        -ms-zoom: .75;
        -webkit-zoom: .75;
        -moz-transform: scale(.75,.75);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:710px) {
    html {
        zoom: .74;
        -ms-zoom: .74;
        -webkit-zoom: .74;
        -moz-transform: scale(.74,.74);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:700px) {
    html {
        zoom: .729;
        -ms-zoom: .729;
        -webkit-zoom: .729;
        -moz-transform: scale(.729,.729);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:690px) {
    html {
        zoom: .719;
        -ms-zoom: .719;
        -webkit-zoom: .719;
        -moz-transform: scale(.719,.719);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:680px) {
    html {
        zoom: .708;
        -ms-zoom: .708;
        -webkit-zoom: .708;
        -moz-transform: scale(.708,.708);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:670px) {
    html {
        zoom: .698;
        -ms-zoom: .698;
        -webkit-zoom: .698;
        -moz-transform: scale(.698,.698);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:660px) {
    html {
        zoom: .688;
        -ms-zoom: .688;
        -webkit-zoom: .688;
        -moz-transform: scale(.688,.688);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:650px) {
    html {
        zoom: .677;
        -ms-zoom: .677;
        -webkit-zoom: .677;
        -moz-transform: scale(.677,.677);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:640px) {
    html {
        zoom: .667;
        -ms-zoom: .667;
        -webkit-zoom: .667;
        -moz-transform: scale(.667,.667);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:630px) {
    html {
        zoom: .656;
        -ms-zoom: .656;
        -webkit-zoom: .656;
        -moz-transform: scale(.656,.656);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:620px) {
    html {
        zoom: .646;
        -ms-zoom: .646;
        -webkit-zoom: .646;
        -moz-transform: scale(.646,.646);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:610px) {
    html {
        zoom: .635;
        -ms-zoom: .635;
        -webkit-zoom: .635;
        -moz-transform: scale(.635,.635);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:600px) {
    html {
        zoom: .625;
        -ms-zoom: .625;
        -webkit-zoom: .625;
        -moz-transform: scale(.625,.625);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:590px) {
    html {
        zoom: .615;
        -ms-zoom: .615;
        -webkit-zoom: .615;
        -moz-transform: scale(.615,.615);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:580px) {
    html {
        zoom: .604;
        -ms-zoom: .604;
        -webkit-zoom: .604;
        -moz-transform: scale(.604,.604);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:570px) {
    html {
        zoom: .594;
        -ms-zoom: .594;
        -webkit-zoom: .594;
        -moz-transform: scale(.594,.594);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:560px) {
    html {
        zoom: .583;
        -ms-zoom: .583;
        -webkit-zoom: .583;
        -moz-transform: scale(.583,.583);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:550px) {
    html {
        zoom: .573;
        -ms-zoom: .573;
        -webkit-zoom: .573;
        -moz-transform: scale(.573,.573);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:540px) {
    html {
        zoom: .563;
        -ms-zoom: .563;
        -webkit-zoom: .563;
        -moz-transform: scale(.563,.563);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:530px) {
    html {
        zoom: .552;
        -ms-zoom: .552;
        -webkit-zoom: .552;
        -moz-transform: scale(.552,.552);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:520px) {
    html {
        zoom: .542;
        -ms-zoom: .542;
        -webkit-zoom: .542;
        -moz-transform: scale(.542,.542);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:510px) {
    html {
        zoom: .531;
        -ms-zoom: .531;
        -webkit-zoom: .531;
        -moz-transform: scale(.531,.531);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:500px) {
    html {
        zoom: .521;
        -ms-zoom: .521;
        -webkit-zoom: .521;
        -moz-transform: scale(.521,.521);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:490px) {
    html {
        zoom: .51;
        -ms-zoom: .51;
        -webkit-zoom: .51;
        -moz-transform: scale(.51,.51);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:480px) {
    html {
        zoom: .5;
        -ms-zoom: .5;
        -webkit-zoom: .5;
        -moz-transform: scale(.5,.5);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:470px) {
    html {
        zoom: .49;
        -ms-zoom: .49;
        -webkit-zoom: .49;
        -moz-transform: scale(.49,.49);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:460px) {
    html {
        zoom: .479;
        -ms-zoom: .479;
        -webkit-zoom: .479;
        -moz-transform: scale(.479,.479);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:450px) {
    html {
        zoom: .469;
        -ms-zoom: .469;
        -webkit-zoom: .469;
        -moz-transform: scale(.469,.469);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:440px) {
    html {
        zoom: .458;
        -ms-zoom: .458;
        -webkit-zoom: .458;
        -moz-transform: scale(.458,.458);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:430px) {
    html {
        zoom: .448;
        -ms-zoom: .448;
        -webkit-zoom: .448;
        -moz-transform: scale(.448,.448);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:420px) {
    html {
        zoom: .438;
        -ms-zoom: .438;
        -webkit-zoom: .438;
        -moz-transform: scale(.438,.438);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:410px) {
    html {
        zoom: .427;
        -ms-zoom: .427;
        -webkit-zoom: .427;
        -moz-transform: scale(.427,.427);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:400px) {
    html {
        zoom: .417;
        -ms-zoom: .417;
        -webkit-zoom: .417;
        -moz-transform: scale(.417,.417);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:390px) {
    html {
        zoom: .406;
        -ms-zoom: .406;
        -webkit-zoom: .406;
        -moz-transform: scale(.406,.406);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:380px) {
    html {
        zoom: .396;
        -ms-zoom: .396;
        -webkit-zoom: .396;
        -moz-transform: scale(.396,.396);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:370px) {
    html {
        zoom: .385;
        -ms-zoom: .385;
        -webkit-zoom: .385;
        -moz-transform: scale(.385,.385);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:360px) {
    html {
        zoom: .375;
        -ms-zoom: .375;
        -webkit-zoom: .375;
        -moz-transform: scale(.375,.375);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:350px) {
    html {
        zoom: .365;
        -ms-zoom: .365;
        -webkit-zoom: .365;
        -moz-transform: scale(.365,.365);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:340px) {
    html {
        zoom: .354;
        -ms-zoom: .354;
        -webkit-zoom: .354;
        -moz-transform: scale(.354,.354);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:330px) {
    html {
        zoom: .344;
        -ms-zoom: .344;
        -webkit-zoom: .344;
        -moz-transform: scale(.344,.344);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:320px) {
    html {
        zoom: .333;
        -ms-zoom: .333;
        -webkit-zoom: .333;
        -moz-transform: scale(.333,.333);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:310px) {
    html {
        zoom: .323;
        -ms-zoom: .323;
        -webkit-zoom: .323;
        -moz-transform: scale(.323,.323);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:300px) {
    html {
        zoom: .313;
        -ms-zoom: .313;
        -webkit-zoom: .313;
        -moz-transform: scale(.313,.313);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:290px) {
    html {
        zoom: .302;
        -ms-zoom: .302;
        -webkit-zoom: .302;
        -moz-transform: scale(.302,.302);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:280px) {
    html {
        zoom: .292;
        -ms-zoom: .292;
        -webkit-zoom: .292;
        -moz-transform: scale(.292,.292);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:270px) {
    html {
        zoom: .281;
        -ms-zoom: .281;
        -webkit-zoom: .281;
        -moz-transform: scale(.281,.281);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:260px) {
    html {
        zoom: .271;
        -ms-zoom: .271;
        -webkit-zoom: .271;
        -moz-transform: scale(.271,.271);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:250px) {
    html {
        zoom: .26;
        -ms-zoom: .26;
        -webkit-zoom: .26;
        -moz-transform: scale(.26,.26);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:240px) {
    html {
        zoom: .25;
        -ms-zoom: .25;
        -webkit-zoom: .25;
        -moz-transform: scale(.25,.25);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:230px) {
    html {
        zoom: .24;
        -ms-zoom: .24;
        -webkit-zoom: .24;
        -moz-transform: scale(.24,.24);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:220px) {
    html {
        zoom: .229;
        -ms-zoom: .229;
        -webkit-zoom: .229;
        -moz-transform: scale(.229,.229);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:210px) {
    html {
        zoom: .219;
        -ms-zoom: .219;
        -webkit-zoom: .219;
        -moz-transform: scale(.219,.219);
        -moz-transform-origin: center center;
    }
}

@media screen and (max-width:200px) {
    html {
        zoom: .208;
        -ms-zoom: .208;
        -webkit-zoom: .208;
        -moz-transform: scale(.208,.208);
        -moz-transform-origin: center center;
    }
}

div.text_editor_resets li {
    margin: 0 2em !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, thead, th,  button {
    color: #555;
    margin: 7px;
    line-height: 22px;

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 103%;
    vertical-align: baseline;
    background: transparent;
    line-height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
}

div.text_editor_resets div ul>li h1,div.text_editor_resets div ul>li h2,div.text_editor_resets div ul>li h3,div.text_editor_resets div ul>li h4,div.text_editor_resets div ul>li h5,div.text_editor_resets div ul>li p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/* common styling */
body {
    font-size: 11px;
    font-family: Arial,Verdana;
    margin: 0px;
    position: relative;
    height: auto;
    min-height: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

.container_left ul {
    margin: 30px;
}

p, label, li {
    color: #555;
    margin: 7px;
    font-size: 16px;
    line-height: 22px;
}

table {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #888888;
    color: #555;
    font-size: 14px;
    line-height: 22px;
    margin-left: -15px;
    padding: 10px;
    width: 105%;
}

.container_left {
    color: #555;
    margin: 7px;
    font-size: 16px;
    line-height: 22px;
}

.menu {
    font-family: arial, sans-serif;
    position: absolute;
    font-size: 11px;
    overflow: visible;
    z-index: 100;
}

.menu ul li a, .menu ul li a:visited {
    display: block;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
}

.fixed {
    position: fixed !important;
}

.menu.left ul li {
    float: left;
    position: relative;
    clear: none;
}

.menu.right ul li {
    float: right;
    position: relative;
    clear: none;
    direction: rtl;
}

.menu.left.horizontal ul li {
    float: left;
    position: relative;
    clear: none;
    cursor: pointer;
}

.menu.left.vertical ul li {
    position: relative;
    float: none;
    cursor: pointer;
}

.menu.right.horizontal ul li {
    float: right;
    position: relative;
    clear: none;
    direction: rtl;
    cursor: pointer;
}

.menu.right.vertical ul li {
    position: relative;
    direction: rtl;
    float: none;
    cursor: pointer;
}

.menu.left.horizontal ul li:last-child {
    border: white;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    margin-top: 5px;
}

div.text_editor_resets ul, div.text_editor_resets ol {
    margin: 0;
    /*padding-left:20px;*/;
}

div.text_editor_resets ul, div.text_editor_resets ul > li {
    list-style: disc outside none!important;
    list-style-position: outside !important;
}

div.text_editor_resets ol, div.text_editor_resets ol > li {
    list-style: decimal outside none!important;
}

iframe.widget_iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.noscroll::-webkit-scrollbar {
    display: none;
}

.pointer {
    cursor: pointer;
}

.max_width_height {
    width: 100%;
    height: 100%;
}

.gallery_con * {
    visibility: inherit;
}

.innerMainPanel0 {
    width: 100%;
    height: 100%;
}

.generalSitebackgroundDiv {
    width: 100%;
    height: 95%;
}

.none_important {
    display: none !important;
}

.block_important {
    display: block !important;
}

.mobile {
    display: none;
}

.mobile nav {
}

.mobile .mobile-menu {
}

.mobile nav ul {
    height: auto;
    width: 100%;
    position: static;
}

.mobile nav ul li {
    height: auto;
    width: 100%;
    clear: both !important;
    float: none !important;
}

.mobile-menu-parent, .mobile-menu-parent:hover {
}

.mobile nav ul li a, .mobile nav ul li a:hover, .mobile nav ul li a:active, .mobile nav ul li a:link {
    padding-bottom: 10px;
}

.mobile-toggle {
    cursor: pointer;
}

.mobile .mobile-menu-children {
    display: none;
}

.mobile button {
    width: 45px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    padding-left: 10%;
    z-index: 900002;
    background: url('images/utils/mobile_menu_arrow_side.png') 50% 50% no-repeat;
    border-left-width: 1px;
    border-left-color: inherit;
    border-left-style: solid;
}

.mobile button.open {
    background: url('images/utils/mobile_menu_arrow_down.png') 50% 50% no-repeat;
}

.mobile-rtl button {
    left: 0;
    right: auto;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    border-left: none;
    background: url('images/utils/mobile_menu_arrow_side_rtl.png') 50% 50% no-repeat;
}

.mobile-menu .x4 li {
    text-indent: 45px;
}

.mobile-menu .x5 li {
    text-indent: 60px;
}

.mobile-menu .x6 li {
    text-indent: 75px;
}

.mobile-menu .x7 li {
    text-indent: 90px;
}

.mobile-menu .x8 li {
    text-indent: 105px;
}

.backgroundAttachmentFixed {
    background-attachment: fixed;
}

.ContentDiv {
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.inner_text_con .inner_text {
    top: 0;
    left: 0;
}

footer * {
    font-family: Open Sans;
    font-weight: 400;
    color: #a3a3a3;
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 0px;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    direction: ltr;
}

footer h2 {
    font-family: Oswald;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.footer-column {
    top: 58px;
    position: absolute;
}

.fc-1 {
    left: 5%;
}

.fc-2 {
    left: 30%;
}

.fc-3 {
    left: 60%;
}

.fc-4 {
    left: 85%;
}

.footer-signup {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    width: 200px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
}

.entry-content {
    margin-top: 25px;
}

.layout {
    padding: 27px;
}

.alignright {
    float: right;
}

.backdrop {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 208px;
}

.content-canvas {
    width: 840px;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear:both;
}

.content blockquote p {
    font-style: italic;
}

img.emoji {
    padding: 0px;
    height: 12px;
    width: 12px;
    float: none;
}

.innerMainPanel0 {
    position: absolute;
    z-index: -1;
    height: 100%;
    min-width: 960px;
    width: 100%;
    left: 0;
    border-color: #000;
    border-style: solid;
}

.content > h1 > a {
    font: 400 28px/28px 'Open Sans';
    color: #666666;
    margin: 0;
}

.container_full {
    margin-top: 50px;
}

.container_left {
    width: 74.5%;
    float: left;
    min-height: 500px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.date {
    margin: 0 15px 0 0;
}

.listing li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding: 27px 0 0;
}

.social_icons ul, ul.listing, .developer, .op3nvoice, .touch, .share_icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left_img {
    float: left;
}

.content {
    width: 66.5%;
    float: right;
}

.content.article {
    width: 100%;
}

article>h1, article h3 {
    margin-top: 25px;
}

.content span small {
    font-weight: 300!important;
}

.content p, .content li {
    font: 400 14px/18px 'Open Sans';
    color: #333;
    margin: 10px 0 20px;
}

.content li {
    margin-left: 50px;
}

.layout {
    max-width: 1024px;
    margin: 0 auto;
}

.container_right {
    width: 23.5%;
    float: right;
    padding: 40px 0 0 0;
}

ul#menu-documentation-sidebar * a {
    color: black;
    white-space: nowrap;
}

article img {
    padding: 15px;
}

aside {
    margin-bottom: 25px;
    text-decoration: none;
}

aside > h3 {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    direction: ltr;
    padding-bottom: 7px;
}

aside ul, ul.sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 12px;
}

aside.widget_recent_entries ul {
    list-style-type: disc;
    padding-left: 25px;
}

aside li {
    color: #656565;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.3;
    padding: 0 0 0 10px;
}

aside a:hover {
    text-decoration: underline;
}

.Normal-White {
    font-family: Open Sans;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-style: Normal;
    text-transform: none;
    text-decoration: none;
    direction: ltr;
}

footer {
    float: left;
    width: 100%;
}

.widget_nav_menu {
    min-height: 250px;
}

.innerMainPanel0 {
    position: absolute;
    z-index: -1;
    height: 100%;
    min-width: 960px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://clarify.io/wp-content/themes/clarify/images/backgrounds/docs.jpg');
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    border-color: #000;
    border-style: solid;
}

.ContentHeight {
    min-height: 1104px;
    height: auto;
}

.ContentHeight {
    display: block;
    width: 960px;
    height: 1104px;
    min-height: initial;
}

.innerText27 {
    left: 106px;
    width: 746px;
    height: 206px;
    border-width: 0;
    border-color: #000;
    border-style: solid;
    z-index: 1;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.innerShape99 {
    left: -229px;
    top: 208px;
    width: 1666px;
    height: 613px;
    z-index: 0;
    border-width: 1px;
    border-color: #000;
    border-style: none;
    background-color: #fff;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

/** CLEANED UP **/

.innerShape88 {
    left: -4px;
}

.innerShape89 {
    left: 327px;
}

.innerShape90 {
    left: 660px;
}

h1, h2, h3, h4 {
    direction: ltr;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    line-height: 32px;
}

h2 {
    font-size: 27px;
    line-height: 32px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

h4 {
    font-size: 15px;
    line-height: 24px;
    margin-top: 10px;
}

.documentation-section {
    top: 276px;
    width: 300px;
    height: 459px;
    z-index: 6;
    border-width: 3px;
    border-color: #549fad;
    border-style: solid;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    position: absolute;
    overflow: hidden;
    display: block;
}

.documentation-section h2 {
    font-family: Oswald;
    font-weight: 300;
    color: #549fad;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 3px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    direction: ltr;
    margin-top: 25px;
}

.documentation-section img {
    margin-left: 85px;
    margin-top:  30px;
}

.documentation-section p {
    margin: 30px;
    font-family: Open Sans;
    font-weight: 400;
    color: #323232;
    font-size: 16px;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    direction: ltr;
}

div.button {
    background-color:#549FAD;
    padding-top: 12px;
    word-wrap: break-word;

    width: 250px;
    min-height: 30px;
    height: auto;
    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
    overflow: hidden;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button a {
    font-family: Oswald;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    direction: ltr;
    letter-spacing: 1px;
}

.signup-button {
    left: 386px;
    top: 950px;
    width: 200px;
    min-height: 43px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    position: absolute;
}

.signup-button a {
    letter-spacing: 1px;
    font-family: Oswald;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    left:45px;
    top: 12px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.quickstart.button {
    float: right;
    margin: 10px;
    width: 175px;
}

code span {
    color: inherit;
}

.beta, .invite, .notice {
    background-color: antiquewhite;
    font-family: monospace;
    font-size: medium;
    font-style: italic;
    margin: 10px;
    padding: 10px;
    width: 90%;
}

.beta a, .invite a, .notice a {
    font-family: inherit;
    font-weight: bold;
}

code.hljs {
    font-size: initial;
    padding: 12px;
}

.resp-tab-content {
    font-size: 90%;
}

code {
    background-color: antiquewhite;
    padding: 3px;
}