---
layout: quickstart
title: Getting your Keywords
navtitle: Keywords Insight

languages:
- curl

order: 3
---

<p>This quickstart demonstrates how to load an audio file and request your spoken keywords in just a matter of minutes.</p>

{% include /sections/setup.html %}

{% include /sections/media-loading.html %}

<p>After creating a bundle, you'll receive a response which looks something like this:</p>

{% include /source/json/bundle_callback.html %}

<h3>Getting your Keywords</h3>
<p>The most important part of the bundle notification is the &#8216;href' of the &#8216;clarify:insights' key. By retrieving the contents of that URI, Clarify will give you a list of the Insights available.</p>

{% include /sections/insight-links.html %}

<p>This will return with the list of available insights:</p>

{% include /source/json/insights_r4.html %}

<p>The most important part of this payload is the 'href' of the 'insight:spoken_keywords' key. By retrieving the contents of that URI, Clarify will give you the top 20 keywords recognized from the audio.</p>

{% include /sections/keyword-request.html %}

<p>The final result of which is our list of keywords:</p>

{% include /source/json/insights_keywords.html %}

<p>From here, we can process the keywords just like any other JSON array. You may want to use them to perform informed searches, display word clouds, or tag your media. At this point, it's up to you.</p>