---
layout: quickstart
title: Getting your Topics
navtitle: Topics Insight

languages:
- curl

order: 4
status: beta
---

This quickstart demonstrates how to load an audio or video file and request your topics in a few minutes.

{% include /sections/setup.html %}

{% include /sections/media-loading.html %}

{% assign tabs="insight-links" %}

<a name="{{ tabs }}"></a>

<h3>Getting your Topics</h3>

The most important part of the bundle notification is the 'href' of the 'clarify:insights' key. By retrieving the contents of that URI, Clarify will give you a list of the Insights available.

{% include /structural/tabs.html %}

This will return with the list of available insights:

{% include /source/json/insights_r4.md %}

The most important part of this payload is the 'href' of the 'insight:spoken_topics' key. By retrieving the contents of that URI, Clarify will give you the topics recognized from the audio.

{% assign tabs="request-topics" %}

<a name="{{ tabs }}"></a>

{% include /structural/tabs.html %}

The final result of which is our list of topics:

{% include /source/json/insights_topics.md %}

From here, we can process the topics just like any other json array:

{% assign tabs="process-topics" %}

<a name="{{ tabs }}"></a>

{% include /structural/tabs.html %}

And we end up with a list of topics that we can use to categorize or otherwise sort our content for better understanding:

{% include /source/json/processed_topics.md %}