---
layout: quickstart
title: Getting Started with Media Search
navtitle: Media Search

languages:
- curl
- PHP
- Java
- Python
- Ruby

order: 1
---

This quickstart demonstrates a simple way to get started using the Clarify API. Following these steps, it should take you no more than 5-10 minutes to have a fully functional search for your audio.

{% include /sections/setup.html %}

{% include /sections/loading-audio.html %}

{% include /sections/media-searching.html %}

{% include /sections/media-playing.html %}