<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div>
            <div class='innerMainPanel0'></div>
            <div class='dataTypeMainPanel mainMainPanel0' data-type='MainPanel'>
                <div class='mainShape24 mainShape'></div>
                {% include navigation.html %}

                <main>
                    <div class='mainMainRow3'>
                        <div class='mainMainContent4 ContentHeight'>
                            <div data-type="text" class='innerText27'>
                                <div class='ContentDiv'>
                                    <h1 class="PageTitle">{{ page.title }}</h1>
                                    <p class="Normal-White">{{ page.subtitle }}</p>
                                </div>
                            </div>

                            <div class='innerShape99'></div>

                            <div class='innerShape88 documentation-section'>
                                <h2>Quickstarts</h2>

                                <img src="/assets/img/quickstarts.png">

                                <p>A simple set of tutorials with code snippets showing how to index and search your audio &amp; video files.</p>

                                <div class='button'>
                                    <a href="/quickstarts">Show me the code</a>
                                </div>
                            </div>

                            <div class='innerShape89 documentation-section'>
                                <h2>Helper Libraries</h2>

                                <img src="/assets/img/folder.png">

                                <p>These libraries provide language-specific interfaces to the REST API. Available in PHP, Python, Ruby, Java, and Node.js</p>

                                <div class='button'>
                                    <a href="/libraries">Download now</a>
                                </div>
                            </div>

                            <div class='innerShape90 documentation-section'>
                                <h2>API Guide</h2>

                                <img src="/assets/img/gear.png">

                                <p>Looking for the raw HTTP verbs &amp; nouns? This is the place to go to view our Swagger documentation.</p>

                                <div class='button'>
                                    <a href="/api">API Documentation</a>
                                </div>
                            </div>

                            <div class='signup-button'>
                                <a href="https://developer.clarify.io/accounts/signup/">Sign up Now</a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>