{% include head.html %}

<div class='innerMainPanel0'></div>
<main>
    <div class='mainMainRow3'>
        <div class='mainMainContent4'>
            <h1 class="PageTitle">{{ page.title }}</h1>
            <p class="">{{ page.subtitle }}</p>
        </div>

        <div class="backdrop">
            <div class="content-canvas" style="width: 960px">
                <div class="documentation-section">
                    <h2>API Guide</h2>

                    <a href="/overview"><img src="/assets/img/gear.png"></a>

                    <p>Looking for the raw HTTP verbs &amp; nouns? This is the place to go to view our Swagger documentation.</p>

                    <div class='button'>
                        <a href="/overview">API Documentation</a>
                    </div>
                </div>

                <div class="documentation-section">
                    <h2>Quickstarts</h2>

                    <a href="/quickstarts"><img src="/assets/img/quickstarts.png"></a>

                    <p>A simple set of tutorials with code snippets showing how to index and search your audio &amp; video files.</p>

                    <div class='button'>
                        <a href="/quickstarts">Show me the code</a>
                    </div>
                </div>

                <div class="documentation-section">
                    <h2>Helper Libraries</h2>

                    <a href="/libraries"><img src="/assets/img/folder.png"></a>

                    <p>These libraries provide language-specific interfaces to the REST API. Available in PHP, Python, Ruby, Java, and Node.js</p>

                    <div class='button'>
                        <a href="/libraries">Download now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
