<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div>
            <div class='generalSitebackgroundDiv'></div>

            <div class='dataTypeMainPanel mainMainPanel0' data-type='MainPanel'>
                <div data-id='mainShape24' class='dataTypeShape  mainShape24 mainShape' data-type='Shape' ></div>
                {% include navigation.html %}

                <header>
                    <div class='dataTypeMainRow mainMainRow1 ' data-type='MainRow'>
                        <div class='dataTypeMainContent mainMainContent2' data-type='MainContent'></div>
                    </div>
                </header>
                <div class="layout">
                    <section class="container_full">
                        <h1>{{ page.title }}</h1>

                        {{ content }}
                    </section>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>